.reveal h1,.reveal h2,.reveal h3, .reveal h4{
    text-transform: inherit;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
    text-indent:2em;
}

.blank-100{
    height: 100px;
}

strong{
    color: #fbc02d;
}

.black p,.black ul{
    color: #bdbdbd;
}

.black ul ul{
    font-size: 0.8em;
}

.black .reveal h4{
    font-size: 1.2em;
}

.black sub{
    font-size: 0.6em;
}

.reveal .image-nostyle{
    box-shadow:none;
}

.reveal .pos-rel{
    position: relative;
    margin: 0 auto;
}

.reveal .pos-abs{
    position: absolute;
    top: 0;
    left: 0;
}